body{
    background-color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    max-width: 2000px;
}

img{
max-width: auto;
height: 200px;
text-align: auto;
}

header{
background-color: green;
    text-align: center;
    padding-top: 20px;
    font-size: 30pt;
    background-position: center;
    max-height: max-content;
}

main, footer{
max-width: 1200px;
margin: center;
padding: 20px;
}

nav ul{
    list-style: none;
    display: contents;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: 10pt;
}

section.Tasti a{
    text-decoration: none;
    color: black;
    
}

section.Tasti a:hover{
        color: #dad9f7;
        text-decoration: underline;
        
    }

section.Introduzione {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section.Introduzione img{
max-width: 50px;
max-height: 480px;
padding-left: 200px;
}

section.Introduzione p, img{
padding-top: 10%;
}

footer{
    font-size: 5pt;

}

.column {
    float: right;
    width: 0%
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }